.wrapper {
  border: 2px var(--theme-color) solid;
  border-radius: 3px;
  width: 25%;
  padding: 20px;
  cursor: pointer;
}

.active {
  background-color: var(--theme-color);
  color: var(--activeTextColor);
}

.date {
  font-size: 18px;
  font-weight: 600;
}

.temperature {
  font-size: 36px;
  font-weight: 600;
  margin-top: -5px;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
}
