.wrapper {
  height: calc(100% - 141px);
  margin: 40px;
  position: relative;
}

.radioWrapper {
  overflow: hidden;
  border-radius: 5px;
  width: fit-content;
}

.loader {
  height: initial;
  width: initial;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .header {
    text-align: center;
  }
  .radioWrapper {
    margin: auto;
  }
}
