.wrapper {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: transparent;
  border: 1px var(--theme-color) solid;
  border-radius: 50%;
  display: flex;
  color: var(--theme-color);
  width: 40px;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
  .button {
    transform: rotate(90deg);
    margin-bottom: 10px;
  }
}
